{{#each this}}
<li class="photo-card">
  <a class="card-link" href="{{largeImageURL}}" data-lightbox="{{id}}">
    <img class="card-img" src="{{webformatURL}}" alt="{{tags}}" />
    
    <div class="stats">
      <p class="stats-item">
        <i class="material-icons">thumb_up</i>
        {{likes}}
      </p>
      <p class="stats-item">
        <i class="material-icons">visibility</i>
        {{views}}
      </p>
      <p class="stats-item">
        <i class="material-icons">comment</i>
        {{comments}}
      </p>
      <p class="stats-item">
        <i class="material-icons">cloud_download</i>
        {{downloads}}
      </p>
    </div>
  </a>
</li>
{{/each}}